adjustText==0.7.3
aioitertools==0.7.1
anyio==3.3.0
appnope==0.1.2
argon2-cffi==20.1.0
ase==3.22.0
async-generator==1.10
attrs==20.3.0
Babel==2.9.1
backcall==0.2.0
bcrypt==3.2.0
bibtexparser==1.2.0
bleach==4.0.0
Brotli==1.0.9
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
chart-studio==1.1.0
click==7.1.2
cryptography==3.4.7
crystal-toolkit==2021.4.29
crystaltoolkit-extension==0.3.0
custodian==2021.2.8
cycler==0.10.0
dash==1.21.0
dash-auth==1.4.1
dash-core-components==1.17.1
dash-dangerously-set-inner-html==0.0.2
dash-daq==0.5.0
dash-html-components==1.1.4
dash-katex==0.0.1
dash-mp-components==0.3.30
dash-table==4.12.0
debugpy==1.4.1
decorator==4.4.2
defusedxml==0.7.1
dnspython==2.1.0
docopt==0.6.2
dscribe==1.1.0
entrypoints==0.3
fastapi==0.68.0
fire==0.4.0
Flask==1.1.2
Flask-Caching==1.10.1
Flask-Compress==1.10.1
flask-paginate==0.8.1
Flask-SeaSurf==0.3.1
future==0.18.2
fuzzywuzzy==0.18.0
gevent==21.8.0
greenlet==1.1.0
gunicorn==20.1.0
h5py==3.3.0
habanero==0.7.4
idna==2.10
imageio==2.9.0
inflect==5.3.0
iniconfig==1.1.1
ipydatawidgets==4.2.0
ipykernel==6.0.3
ipython==7.26.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
itsdangerous==1.1.0
jedi==0.18.0
Jinja2==2.11.3
joblib==1.0.1
json5==0.9.6
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-core==4.7.1
jupyter-server==1.10.2
jupyterlab==3.1.4
jupyterlab-pygments==0.1.2
jupyterlab-server==2.6.2
jupyterlab-widgets==1.0.0
kiwisolver==1.3.1
latexcodec==2.0.1
llvmlite==0.36.0
maggma==0.26.0
MarkupSafe==1.1.1
matminer==0.6.5
matplotlib==3.4.1
matplotlib-inline==0.1.2
matplotlib-label-lines==0.4.0
mistune==0.8.4
mongogrant==0.3.1
mongomock==3.22.1
monty==2021.3.3
more-itertools==8.8.0
mp-pyrho==0.0.14
mpmath==1.2.1
msgpack==1.0.2
nbclassic==0.3.1
nbclient==0.5.3
nbconvert==6.1.0
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.5.1
notebook==6.4.1
num2words==0.5.10
numba==0.53.1
numpy==1.20.2
packaging==21.0
palettable==3.3.0
pandas==1.2.4
pandocfilters==1.4.3
paramiko==2.7.2
parso==0.8.2
pexpect==4.8.0
phonopy==2.11.0
pickleshare==0.7.5
Pillow==8.2.0
Pint==0.17
plotly==4.14.3
pluggy==0.13.1
prometheus-client==0.11.0
prompt-toolkit==3.0.19
ptyprocess==0.7.0
PubChemPy==1.0.4
py==1.10.0
pybind11==2.7.1
pybtex==0.24.0
pycparser==2.20
pydantic==1.8.2
pydash==5.0.0
pydefect==0.4.1
Pygments==2.9.0
pymatgen==2022.0.11
pymatgen-diffusion==2020.10.8
pymongo==3.11.3
PyNaCl==1.4.0
pynng==0.7.1
pyparsing==2.4.7
pyrsistent==0.17.3
pytest==6.2.4
pytest-mock==3.6.1
python-dateutil==2.8.1
python-Levenshtein==0.12.2
pythreejs==2.3.0
pytz==2021.1
PyWavelets==1.1.1
PyYAML==5.4.1
pyzmq==22.2.1
raven==6.10.0
redis==3.5.3
requests==2.25.1
requests-unixsocket==0.2.0
retrying==1.3.3
robocrys==0.2.7
ruamel.yaml==0.17.4
ruamel.yaml.clib==0.2.2
scikit-image==0.18.2
scikit-learn==0.24.2
scipy==1.6.3
seaborn==0.11.1
seekpath==2.0.1
Send2Trash==1.7.1
sentinels==1.0.0
sentry-sdk==1.0.0
six==1.15.0
sniffio==1.2.0
sparse==0.12.0
spglib==1.16.1
sshtunnel==0.4.0
starlette==0.14.2
sympy==1.8
tabulate==0.8.9
termcolor==1.1.0
terminado==0.10.1
testpath==0.5.0
threadpoolctl==2.2.0
tifffile==2021.7.30
toml==0.10.2
tornado==6.1
tqdm==4.60.0
traitlets==5.0.5
traittypes==0.2.1
typing-extensions==3.7.4.3
ua-parser==0.10.0
uncertainties==3.1.5
urllib3==1.26.6
vise==0.6.0
wcwidth==0.2.5
webcolors==1.11.1
webencodings==0.5.1
websocket-client==1.1.0
Werkzeug==1.0.1
widgetsnbextension==3.5.1
zope.event==4.5.0
zope.interface==5.4.0
